*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.main-container
{
    /* display: grid;
    place-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: #003f5c61;
    height: 500px;
}
.row
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    gap: 5px;
}
.main-container::after
{
    background: url(../images/globe-2.jpg) no-repeat center center/cover;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.main-container h1
{
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 800;
}
.main-container h2
{
    text-transform: capitalize;
    font-size: 32px;
}
button
{
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    padding: 15px 20px;
    background-color: #0180ba;
    color: #fff;
}
button:hover , .sort i:hover
{
    background-color: #00415f;
}
.text , .number
{
    /* color: rgb(43, 0, 236); */
    background-color: rgb(255, 64, 0);
    padding: 0px 4px;
    border-radius: 5px;
}
.sort i
{
    font-size: 32px;
    cursor: pointer;
    background-color: #0180ba;
    padding: 10px;
    border-radius: 8px;
}
.input
{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input i
{
    font-size: 35px;
    /* width: 100%; */
    cursor: pointer;
}
input
{
    font-size: 35px;
    padding: 8px 30px;
    width: 100%;
    border-radius: 30px;
    border: 0;
}
input::placeholder
{
    text-align: center;
}
input:focus
{
    outline: none;
    /* border: 3px solid #0180ba; */
    outline: 5px solid #0180ba;
}
.result-container
{
    display: grid;
    grid-template-columns: repeat(6,200px);
    grid-auto-rows: 200px;
    gap: 20px;
    justify-content: center;
    padding: 50px 80px;
}
.box
{
    position: relative;
    background-color: #00223161;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
}
.box::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/map_image.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.active
{
    background-color: #00415f;
}